body {
	background-color: #FFFFFF;
    }

#header {
	border-width: 2px;
	border-style: solid;
	border-color: #C0C0C0;
   background-color: #F0FFF0
}

#happyRoboticsHeading {
	padding: 5px;
}

p {
    color: #FFF
}
